
.buttonContainer {
  display: flex;                          
  flex-wrap: wrap;                 
  justify-content: center;                
  margin-top: 20px;
  margin-left: 20px;
  
}

  .button {
  
    width: 90px; 
    height:85px ;                

    margin:5px;
    font-size: 2rem;
    border-radius: 20px;
    background-color: #f0b1f5;
    font-family: 'Times New Roman', Times, serif;
    
}



.button:hover {
  background-color: #fac5f5;
}
