
.display {
  background-color: #e2ebc6;
  font-size: 3rem;          
  padding: 1rem 1rem;   
  border-radius: 12px;
  text-align: right;
  min-height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}
