.calculator{
  width: 400px;                
  margin: 100px ;  
  margin-left:500px ;
  padding: 20px;
  border-radius: 20px;
  background-color: #905abb;
  display: flex;
  flex-direction: column;
  justify-content: center;
         
}

  

